---
layout: nodenv_default
---
{%- assign analytics_path = page.dir | split: "/" -%}
{%- assign analytics_path = analytics_path[1] -%}
{%- if analytics_path == "analytics-linux" -%}
{%- assign formula_path = "formula-linux" -%}
{%- else -%}
{%- assign formula_path = "formula" -%}
{%- endif -%}
{%- assign json = site.data[analytics_path][page.category][page.days] -%}
<h2>{{ page.category_pretty }} Events</h2>

{%- capture api_url -%}/api/{{ analytics_path }}/{{ page.category }}/{{ page.days}}.json{%- endcapture -%}
<h3><a href="{{ api_url | relative_url }}"><code>{{ api_url }}</code> (JSON API)</a></h3>

<table class="full-width">
  <tr>
    <th></th>
    <th>{% case page.category %}{% when "os-version" %}Version{% when "cask-install" %}Cask{% else %}Formula{% endcase %}</th>
    <th>Events</th>
    <th>%</th>
  </tr>
{% for item in json.items %}
{%-  case page.category -%}
{%-  when "os-version" -%}
{%-    assign label = item.os_version -%}
{%-  when "cask-install" -%}
{%-    assign label = item.cask -%}
{%-    assign url = item.cask | prepend: "cask/" -%}
{%-  when "download" -%}
{%-    assign label = item.package | split: "/" | last -%}
{%-    assign url = label | prepend: "formula/" -%}
{%-  else -%}
{%-    assign label = item.formula | split: "/" | last -%}
{%-    assign url = label | prepend: "formula/" -%}
{%-  endcase -%}
  <tr>
    <td class="number-data">#{{ item.number }}</td>
    <td>
      {%- if url -%}<a href="{{ url | relative_url }}"><code>{{ label }}</code></a>
      {%- else -%}<code>{{ label }}</code>
      {%- endif -%}
    </td>
    <td class="number-data">{{ item.count }}</td>
    <td class="number-data">{{ item.percent }}%</td>
  </tr>
{% endfor %}
</table>
